name: Build NixOS Configuration

on:
  push:
    branches:
      - rp
    paths-ignore:
      - 'README.md'
      - 'docs/*'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
      - 'docs/*'
  workflow_dispatch:

jobs:
  check-configuration:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host: [tohu, hyperv]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}
          extra_nix_config: |
            download-buffer-size = 268435456

      - name: Setup Magic Nix Cache
        uses: DeterminateSystems/magic-nix-cache-action@v13

      - name: Build System Toplevel
        # 相比 diskoImages，这能验证系统配置的有效性，但速度快得多
        run: nix build --accept-flake-config .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel